<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title> Storyblok Koa OAuth2 example </title>
    <script type="text/javascript">
      if (window.top == window.self) {
        window.location.assign('https://app.storyblok.com/oauth/app_redirect')
      }
    </script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="container py-md-3">
        <div class="row">
          <div class="col">
            <%- body %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>